.ListChanges{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

    .container{
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;

        h1{
            font-size: 24px;
        }

        hr {
            width: 100%;
            margin: 15px auto;
            border: 1px solid;
        }
    }
}